* {
    margin: 1%;
    padding: 1%;
}

body {
    background-color: #eee;

}

#mainDiv {
    background-color: #3f39392c;
    border-radius: 15px;
    text-align: center;
    font: 15px;
}

ol {
    text-align: center;
}
img {
    /*float: left;*/
}